*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: auto;
}
.responsive {
    width: 100%;
    height: auto;
  }
header{
    background-color: black;
}
.navbar{
    display: inline-flex;
    margin: 0;
    top: 0;
    padding: 0px;
   
}
ul{
    display: inline-flex;
    float: right;
    margin-left: 70px;
    margin-top: 19px;
    
}
a{
    text-decoration: none;
    color: white; 
    padding: 20px;  
}
a:hover{
    color: grey;
    
}
li{
    display: inline;
padding: 20px;
    font-size: 0.5cm;
    font-family: 'Courier New', Courier, monospace;
}
.navbar>.logo>img{
    display: inline-flex;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin-left: 81px;
    padding: 10px;
   
    

}
.navbar>.greet>h1{
    margin: 0;
    display: inline-flex;
    color: white;
    padding: 10px;
    margin-top: 21px;
    margin-left: 30px;
}
.welcome>h1{
  text-align: center;
  font-size:3cm;
  color: #805c00;
}
.g1,.g1-img{
    display: inline-flex;
    margin-top: 30px;
}
.g1-img>img{
    display: inline-flex;
    width: 644px;
    height: auto;
    margin-left: 100px;
    
}
.g1-details>h3{
    margin-left: 60px;
    font-size: 0.6cm;
    margin-right: 60px;
   
}
span{
    margin-left: 60px;
    color: black;
    font-size: 1cm;
  
}
.g1-details>button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: red;
}


.footer{
    background-color: black;
    height: 200px;
    bottom: 0;
    width: 100%;
    position: relative;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    height: 180px;
    width: 300px;
    margin: 5px 30px 5px 30px;
}
#col1>img{
    height: 150px;
    width: 150px;
    margin-left: 80px;
    margin-right: 50px;
}
#col1>p{
    color: gold;
    font-size: 0.6cm;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}
#col2>p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 20px 0 0 0;
    letter-spacing: 2px;
    text-align: center;
}
#col2>.copyright{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    font-size: x-small;
    text-align: center;
    letter-spacing: 2px;
}
#col3>img{
    height: 170px;
    width: auto;
    padding: 25px;
    margin-left: 20px;
}
.col3{
    height: 180px;
    width: 200px;
    margin: 5px 20px 5px 10px;
}
#col4>img{
    height: 150px;
    width: 150px;
    margin-left: 10px;
}
#subbtn{
    margin-left: 10px;
    background-color:gold;
    padding: 5px;
    cursor: pointer;
    
}
#subbtn:hover{
    background-color: red;
}




