body{
    width: 100%;
    height: auto;
    margin: 0;
}
header{
    background-color: black;
}
.navbar{
    display: inline-flex;
    margin: 0;
    top: 0;
    padding: 0px;
   
}
ul{
    display: inline-flex;
    float: right;
    margin-left: 70px;
    margin-top: 19px;
    
}
a{
    text-decoration: none;
    color: white; 
    padding: 20px;  
}
a:hover{
    color: grey;
    
}
li{
    display: inline;
padding: 20px;
    font-size: 0.5cm;
    font-family: 'Courier New', Courier, monospace;
}
.navbar>.logo>img{
    display: inline-flex;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin-left: 81px;
    padding: 10px;
   
    

}
.navbar>.greet>h1{
    margin: 0;
    display: inline-flex;
    color: white;
    padding: 10px;
    margin-top: 21px;
    margin-left: 30px;
}
.welcome>h1{
  text-align: center;
  font-size:3cm;
  color: #805c00;
}
.g1,.g1-img{
    display: inline-flex;
    margin-top: 30px;
}
.g1-img>img{
    display: inline-flex;
    width: 644px;
    height: auto;
    margin-left: 100px;
    
}
.g1-details>h3{
    margin-left: 60px;
    font-size: 0.6cm;
    margin-right: 60px;
   
}
span{
    margin-left: 60px;
    color: black;
    font-size: 1cm;
  
}
.g1-details>button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: red;
}


